/* You can add global styles to this file, and also import other style files */
@import "primeng/resources/themes/lara-light-blue/theme.css";
@import "primeng/resources/primeng.css";
@import "primeicons/primeicons.css";


/* Media query for small devices, such as smartphones */
@media only screen and (max-width: 767px) {
    .bodyAfterHeader{
        margin-top: 7rem;
       }
  }
  
  /* Media query for medium devices, such as tablets */
  @media only screen and (min-width: 768px) and (max-width: 991px) {
    .bodyAfterHeader{
        margin-top: 4rem;
       }
  }
  
  /* Media query for large devices, such as desktops */
  @media only screen and (min-width: 992px) {
    .bodyAfterHeader{
        margin-top: 4rem;
       }
  }