<header class="bg-teal-500 py-2 mb-2 flex flex-wrap align-items-center
    justify-content-between h-70px px-0 py-0">
    <div class="logo text-white text-1xl font-medium"><b>Angular Project</b></div>
    <form action="#" class="flex border-900">
        <input type="search" class="search-data" placeholder="Search" required>
        <button type="submit" class="fas fa-search"></button>
    </form>
    <button class="bg-teal-500 border-transparent text-white">
        <i class="fas fa-cart-plus"></i>
        <span class="text-xs bg-red-600 ">0</span>
    </button>
</header>
